.fa{
  font-family: 'Permanent Marker', cursive;
}
.fb{
  font-family: 'Fredoka One', cursive;
}

#target{
  width: 200px
}

.head-text{
  background-color: aqua;
  font-size: 4rem;
  text-align: center;
}

.cen{
  display: flex;
  justify-content: center;
}

.health-stuff{
  background-color: gainsboro;
}
.r1{
  background-color: aqua;
}
.r2{
  background-color: gainsboro;
}